h1{
    border: 2px solid red;
    margin: 50px 80px 50px 80px;
    padding: 20px 30px 30px 20px;
    border-radius: 10px;
}
h2{
    color: crimson;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 4px dashed green;
    border-radius: 20px;
}